doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/create.css')
    link(type='text/css', rel='stylesheet', href='/menu.css')
    link(type='text/css', rel='stylesheet', href='/main.css')
  body
    include menu.jade
    #content
      form(method="POST",action="/post#{url}")
        input(type="text",placeholder="Categorie",name="category",value="#{category}")
        span#hash #
        br
        br
        textarea(placeholder="Écrivez ici ce qui vous vient à l'esprit.",name="content")
          | #{content}
        .center
          input(type="submit",value="Poster")
