#menu
  img(src="/img/logo-small.png", width="40px;")
  span(style="text-decoration: underline;margin-right: 10px;font-weight: bold;color:#e55039;") Redditeirb
  a(href="/")
    .menu-cell Accueil
  a(href="/create")
    .menu-cell + Nouveau Post
  a(href="/logout")
    .menu-cell(style="float:right;") Logout
  a(href="/profil")
    .menu-cell(style="float:right;") Profil
#space
